:root {
    --color-white: #fff;
    --color-background: #eee;
    --color-text: #333;
    --color-link: rgb(59, 119, 62);
    --color-border: var(--color-text);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--color-text);
    background-color: var(--color-background);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}